/*-----------------------------------*/
/*--- IMPORT STYLES FOR FASTPAGES ---*/
@import "minima/fastpages-styles";   



/*-----------------------------------*/
/*----- ADD YOUR STYLES BELOW -------*/

// If you want to turn off dark background for syntax highlighting, comment or delete the below line.
@import "minima/fastpages-dracula-highlight"; 

.page-content{
	font-family: "Consolas";
}

.post-content p, .post-content li {
	font-size: 16px;
}

.page-description {
	font-size: 90%;
}

.search-results-list-item .search-result-title {
	font-size: 15px;
}

.search-result-preview {
	font-size: 15px;
}

.img {

	display: block;
	margin-right: 280em;
	
}

.column {
	float: left;
	width: 50%;
	padding: 5px;
	align-content: center;
  }
  
  /* Clear floats after image containers */
  .row::after {
	content: "";
	clear: both;
	display: table;
  }

.container {
	width: 500px;
	clear: both;
}

.container input {
	width: 100%;
	clear: both;
}